@page "/fetchdata"
@using BlazorComponent.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
<BlazorDataGrid Items="@forecasts" ShowTotalResult="true" TheadClass="thead-dark" Translation="@translate"
                ShowPageSelector="true" PageSelector="@PageSelector" Editable="true" RowSelector="true">
    <BlazorDataGridColumn>
        <DataGridColumn Items="@forecasts" ColumnName="Date" Filter="true" Format="dd/MM/yyyy"><strong>Date</strong></DataGridColumn>
        <DataGridColumn Items="@forecasts" ColumnName="TemperatureC" DisplayColumnName="TemperatureC" Filter="true"></DataGridColumn>
        <DataGridColumn Items="@forecasts" ColumnName="TemperatureF" DisplayColumnName="TemperatureF" DropdownFilter="true" ReadOnly="true"></DataGridColumn>
        <DataGridColumn Items="@forecasts" ColumnName="Summary" DisplayColumnName="Summary" Filter="true"></DataGridColumn>
    </BlazorDataGridColumn>
    <GridRow>
        <Row Items="@forecasts" Content="{{Date}}"/>
        <Row Items="@forecasts" Content="<strong>{{TemperatureC}}</strong>" ValidationPattern="^[-]?\d+$" LabelError="@translate["labelError"]"/>
        <Row Items="@forecasts" Content="{{TemperatureF}}" />
        <Row Items="@forecasts" Content="{{Summary}}" />
    </GridRow>
</BlazorDataGrid>

<button @onclick="ClickTest">Test</button>
<button @onclick="AjoutListe">Ajout Element liste</button>

}


@code {
    //WeatherForecast[] forecasts;
    List<WeatherForecast> forecasts;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500).ConfigureAwait(false);
        forecasts = await ForecastService.GetForecastListAsync(DateTime.Now);
    }

    private Dictionary<string, string> translate = new Dictionary<string, string>
    {
        {"next", "next" },
        {"previous", "Previous" },
        {"pages", "Page __curpage__ of __totalpages__" },
        {"totalresult", "__totalcount__ item" },
        {"totalresultplural", "__totalcount__ items"},
        {"filteredresults", "__filteredcount__ result of __totalcount__ items" },
        {"filteredresultsplural", "__filteredcount__ results of __totalcount__ items"  },
        {"selector", "Items per page" },
        {"labelError", "invalid format" }
    };

    private Dictionary<string, int> PageSelector = new Dictionary<string, int>
    {
        {"5", 5 },
        {"10", 10 },
        {"20", 20 },
        {"30", 30 },
        {"All", 0 }
    };

    public void ClickTest()
    {
        var test = forecasts;
    }

    public void AjoutListe()
    {
         string[] Summaries = new[]
        {
            "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching"
        };

        Random rnd = new Random();
        forecasts.Add(new WeatherForecast
        {
            Date = DateTime.Now,
            TemperatureC = rnd.Next(-20, 55),
            Summary = Summaries[rnd.Next(Summaries.Length)]
        });
        StateHasChanged();
    }

}
