@typeparam TItem

@namespace BlazorDataGrid
@using BlazorDataGrid.Services
@inject AppState AppState
@using Microsoft.AspNetCore.Components.Web
@using BlazorNInput


@if (@Content == null)
{
    <td id="@Id">
        @ChildContent(CurrentItem)
    </td>
}
else
{
    if (BlazorDataTable.Editable)
    {
        <td contenteditable="@(!ReadOnly(NameItem, "ReadOnly"))" id="@Id"
            @onfocusout="() => BlazorDataTable.UpdateList(CurrentItem, NameItem)">
            <BlazorInputText Placeholder="PlaceHolderValue"
                             @bind-Value="InputValue"
                             LabelError="@LabelError"
                             ValidationPattern="@ValidationPattern" />

        </td>


    }
    else
    {
        <td id="@Id">
            @((MarkupString)ConvertParamToValue(Content))
        </td>
    }
}


